html, body {
	background-color: white;
}

/* header styling */

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

#title {
	color: #120901;
	font-size: 5.42em;
	padding: 1px 55px;
	font-family: 'Indie Flower', cursive;
	text-shadow: 4px 2px 5px #fd6907,
	0px 1px 2px #120901;

}

#top-pic {
	display: block;
	margin-left: auto;
	align-items: flex-end;
	max-width: 70%;

}

/* main styling */

#survey-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	opacity: 0.9;
	color: #120901;
	font-size: 1.2em;
	border: 2px solid #120901;
	border-radius: 5px;
	margin: 0px 50px 50px 50px;
	background-color: #ffa366;
	box-shadow: 5px 5px 5px #120901;
}

#description {
	font-size: 1.1em;
	text-align: center;
}

form, #todays-date > select, input, textarea, #dropdown {
	padding: 5px;
	margin-left: 5px;
	font-size: 18px;
}

.main-label {
	font-size: 1.1em;
	font-weight: bold;
	padding: 0 5px;
}

form > div {
	flex: 1;
	align-items: center;
	padding: 5px;
	margin: 1px 5% 15px 5%;

}

ul {
	padding-left: 0px;
}

li{
	padding: 2px 2px 2px 5px;
	display: inline-block;
	list-style: none;
}

textarea {
	width: 100%;
}

#button {
	display: flex;
	justify-content: center;
}

#submit {
	color: #120901;
	font-size: 2.02em;
	font-weight: bold;
	background-color: white;
	padding: 15px;

}
/* above footer styling */

#above-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bottom-pic {
	justify-content: flex-start;
	display: block;
	max-width: 70%;
	margin-left: auto;
}

/* footer */

#coded-by {
	flex: 1;
	font-size: 1.3em;
	font-weight: bold;
	margin: 1em;
	padding: 5px;
	text-align: center;
}

a {
	color: #fd6907;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #ffa366;
	animation-duration: 0.5;
}
